.groupinput {
  padding: 0.5rem;
  border: 2px solid transparent;

  &__box {
    position: relative;
    padding-block: 0.5rem;
  }

  &__label {
    font-size: 1.2rem;

    &--error {
      color: var(--color-error);
    }
  }

  &__error {
    position: absolute;
    inset-block: 0;
    margin: 0;
    font-size: 0.7rem;
    color: var(--color-error);
  }
}
