.list {
  padding: 0.5rem;

  @include _767 {
    padding-block: 0.5rem;
    padding-inline: 1rem;
  }

  &__title {
    text-align: center;
  }
  &__grid {
    max-width: 1200px;
    margin-block: 0;
    margin-inline: auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    @include _767 {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    @include _1024 {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }
}
