.alert {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;

  @include _767 {
    flex-direction: row;
  }
  &__left {
    flex-grow: 1;
    flex-shrink: 1;
  }
  &__right {
    flex-grow: 0;
    flex-shrink: 1;
  }
}
